
@import '../../styles/mixins';
@import '../../styles/work-details';

.kate {
    img{
		max-width: 100%;
    }
    
    &.work-details-page {
        .work-description {
            padding-bottom: 0;
        }
    }
    
	.page-header {
        background: #473B48;
        position: relative;
		.banner-img-container {
			width: 80vh;
            text-align: center;
            @include respond-until(sm) {
                width: 40vh;
            }
		}
	}
	.fold-2 {
		.project-grid-one {
			.project-image-container {
				margin-bottom: -10%;
				position: relative;
				&:nth-child(1) {
					z-index: 4;
				}
				&:nth-child(2) {
					left: 100px;
				}
				&:nth-child(3) {
					margin-bottom: 100px;
				}
			}
		}

		.project-grid-two {
			.project-image-container {
				display: flex;
			}
		}
	}

	.project-image-container-grid-two {
        margin-bottom: 100px;
        @include respond-until(sm) {
            margin-bottom: 20px;
        }
		.project-image-container {
			margin-bottom: 15px;
		}
	}
	.fold-4{
		position: relative;
		width: 100%;
		min-height: 100vh;
		.project-image-container {
			z-index: 3;
			position: relative;
        }
        @include respond-until(sm){
           // padding-top: 55.5px;
        }
	}
	.diagonal-bg {
		width: 100%;
		position: absolute;
		left: 0;
		top: 20.5%;
		background: #000;
		transform: skewY(-20deg);
		z-index: 0;
	}
}