

.head-banner .title {
    font-size: 6.5vw;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    line-height: 1;
    font-family: 'Nexa-bold';
    font-weight: 600;
    text-align: center;
    letter-spacing: -.01783333em;
    // width: 49vw;
    position: relative;
}
.animation-slide-head .slide {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    opacity: 0;
}

.animation-slide-head .slide div {
    display: inline-block; 
    opacity: 0;
}