
@import '../../styles/mixins';

.head-banner {
    .title {
        font-size: 6em;
        text-align: center;
        color: #000000;
        margin: 0 auto;
        line-height: 1;
        font-family: 'Nexa-bold';
        font-weight: 600;
        text-align: center;
        letter-spacing: -.01783333em;
        // width: 49vw;
        position: relative;
        @include respond-until(sm) {
            font-size: 2.5em;
            text-emphasis: left;
        }
    }

    .blob-outer {
        @include respond-until(sm) {
            height: 190px;
            width: 190px;
            right: -60px;
            top: 11em;
            .blob-layer-1 {
                width: calc(100% - 60px);
                height: calc(100% - 60px);
                top: 1em;
                left: -1em;
            }
            .blob-layer-2 {
                width: calc(100% - 90px);
                height: calc(100% - 70px);
                top: 2em;
                right: 6em;
            }
            .blob {
                width: calc(100% - 90px);
                height: calc(100% - 90px);
                top: 0em;
                left: 0em;
            }
            .blob-layer-3 {
                width: calc(100% - 100px);
                height: calc(100% - 100px);
                top: 42px;
                left: 8px;
            }
        }
    }
    
} 
.animation-slide-head {

    .slide-wrap {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        opacity: 0;
        @include respond-until(sm) {
            padding: 0 0.3em;
        }
        &.head-slide-1 {
            @include respond-until(sm) {
                opacity: 1;
                text-align: left;
            }
        }
        &.head-slide-3 {
            span {
               font-size: 0.8em;
            }
        }
        div {
            display: inline-block; 
            opacity: 0;
            line-height: 1.10;
            @include respond-until(sm) {
                opacity: 1;
            }
        }
    }
}

