@import '../../styles/mixins';

.banner-wrapper {
    height: 100vh;
    position: relative;
    @include respond-until(sm) {
        height: 70vh;
    }
}

.banner-wrapper .row {
    height: inherit;
}

.banner-wrapper .banner {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 20vh;
    position: relative;
    
    @include respond-until(sm) {
        padding-bottom: 10vh;
        height: 70vh;
        z-index: 0;
    }
}

.banner-wrapper .banner .view {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.scroll-down {
    position: absolute;
    right: 2em;
    bottom: 4em;
    width: 50px;
    text-align: center;
    height: 130px;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: all .7s ease-in-out;
    padding-top: 20px;
    @include respond-until(sm) {
        right: 50%;
        margin-right: -80px;
        height: 95px;
        width: 160px;
        display: none;
    }
    .text {
        font: 600 .7em/18px Work Sans;
        letter-spacing: 5.45px;
        color: #000000;
        text-transform: uppercase;
        transform: rotate(90deg);
        display: block;
        @include respond-until(sm) {
            transform: rotate(0deg);
        }
    }
    .down-arrow {
        width: 35px;
        position: absolute;
        bottom: 0;
        margin-left: -15px;
        left: 50%;
        @include respond-until(sm) {
            margin-left: -19px;
        }
    }
}
