.banner-wrapper {
    height: 100vh;
    position: relative;
}

.banner-wrapper .row {
    height: inherit;
}

.banner-wrapper .banner {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 15vh;
}

.banner-wrapper .banner .view {
    display: flex;
    flex-direction: column;
    width: 100%;
}