
.sub-head-banner {
    margin-bottom: 1.3em;
}
.sub-head-banner .sub-title {
    font-size: 1.4vw;
    line-height: 1;
    color: #000000;
    font-family: 'Nexa-Light';
    word-spacing: 0.2em;
    margin-bottom: 1.8em;
}
.animation-slide .slide {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
}
.animation-slide .slide .caret{
    vertical-align: top;
    position: relative;
    display: inline-block;
    line-height: .2;
    padding: 0 0.5em;
    text-align: center;
}

  

