@import '../../styles/mixins';

.connect-page {
    + .page-footer {
    	height: 30vh;
	}
    .full-page-wrapper {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contact-form {
    	padding: 140px 0 100px;
    	 h1 {
	    	font-size: 3.5em;
	    	font-family: $font-nexa-bdrg;
			line-height: 1.38;
			@include respond-until(sm) {
				font-size: 2.5em;
				line-height: 1.2;
			}
	    }

	    .sub-title {
	    	font-size: 1.2em;
	    	line-height: 1.5;
	    	margin-top: 20px;
	    	font-family: $font-work-sans;
	    	color: #252525;
	    	font-weight: 300;
	    }
	    
	    form {
	    	margin-top: 38px;
	    	label {
	    		font-size: 1.2em;
	    		line-height: 1.5;
	    		display: block;
	    		font-family: $font-work-sans;
		    	color: #252525;
		    	font-weight: 300;
	    	}
	    	input.field {
	    		width: 100%;
	    		border: 0;
	    		border-bottom: 1px solid rgba(0,0,0,0.3);
	    		margin-bottom: 26px;
	    		padding: 8px 0 0;
    			font-size: 20px;
	    	}

	    	.submit-button {
	    		margin-top: 50px;
	    		font-size: 18px;
	    		font-family: $font-work-sans;
	    		font-weight: 400;
	    		border: 0;
	    		background: transparent;
	    		position: relative;
	    		line-height: 1.2;
	    		color: #252525;
	    		padding: 0 0 9px;
	    		&:after {
	    			content: '';
				    position: absolute;
				    bottom: -4px;
				    width: 24px;
				    left: 0;
				    height: 2px;
				    background: #252525;
	    		}
	    	}

	    	.agreement {
				position: relative;
	    		.checkmark {
				  position: absolute;
				  top: 9px;
				  left: 6px;
				  height: 15px;
				  width: 15px;
				  border: 1px solid #999;
				  &:after {
					  content: "";
					  position: absolute;
					  display: none;
					  left: 6px;
    				  top: -3px;
					  width: 5px;
					  height: 10px;
					  border: solid black;
					  border-width: 0 3px 3px 0;
					  -webkit-transform: rotate(45deg);
					  -ms-transform: rotate(45deg);
					  transform: rotate(45deg);
					}
				}
				a {
					text-decoration: underline;
					color: #333;
					font-weight: 500;
				}
	    		input[type='checkbox'] {
	    		   margin-bottom: 30px;
				   display: inline-block;
				   width: 20px;
				   position: absolute;
				   left: 0;
				   top: 8px;
				   opacity: 0;
				   &:hover {
					   	~ .checkmark {
					   		border: 1px solid #ccc;
					   	}
				   }

				   &:checked {
				   	~ .checkmark {
				   		border: 1px solid #252525;
				   		&:after {
						  display: block;
						}
				   	 }
				   }
				   
				   
	    		}

	    		.text {
	    			display: inline-block;
   					font-size: 15px;
   					padding-left: 30px;
	    		}
	    	}
	    }	
    }

    .current-opening-cta {
    	background: #E3001B;
    	color: #fff;
    	padding: 100px 0;
    	h2{
    		font-size: 3.5em;
    		font-family: $font-nexa-bdrg;
			line-height: 1.38;
			@include respond-until(sm) {
				font-size: 2.5em;
				line-height: 1.2;
			}
    	}
    	.opening-cta {
			font-size: 1.4em;
			color: #fff; 
			font-family: $font-work-sans;
			position: relative;
			padding-left: 65px;
			margin-top: 17px;
			display: block;
			text-decoration: none;
  			&:before {
				content: '';
				position: absolute;
				width: 56px;
				height: 2px;
				background: #fff;
				left: 0;
				top: 14px;
  			}
    	}
	}
	
	.contact-types {
		min-height: 80vh;
		@include respond-until(sm) {
			min-height: auto;
			padding: 50px 0
		}
		.contact-box {
			font-family: $font-work-sans;
			h5 {
				font-size: 22px;
				font-weight: 700;
				line-height: 2.3;
			}
			&.call-us {
				margin-top: 95px;
			}
			&.visit-us {
				.details {
					font-size: 20px;
				}
				@include respond-until(sm) {
					margin-top: 100px;
				}
			}
			.details {
				font-weight: 400;
				font-size: 18px;
				a {
					color: #000;
					font-size: 20px;
					text-decoration: none;
				}
			}
		}

		address {
			font-style: normal;
		}
	}

	
  
}

