@import '../../styles/mixins';

#home-carousel-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
#fp-nav, .fp-slidesNav {
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    ul {
        li {
            .fp-tooltip {
                color: #000;
            }
            a {
                color: #000;
                span {
                    background: #000;
                }
            }
        }
    }

    &.footer-nav {
        ul {
            li {
                .fp-tooltip {
                    color: #fff;
                }
                a {
                    color: #fff;
                    span {
                        background: #fff;
                    }
                }
            }
        }
    }
} 

#fp-nav.fp-right {
    right: 43px;
}

.slide-wrapper {
    // position: absolute!important;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.carousel-wrapper {
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    left: 0;
    width: 100%;
    // visibility: hidden;
    // opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    @include respond-until(sm) {
        position: unset;
        transform: none;
    }
    a {
        pointer-events: auto;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        .carousel-container {
            padding: 0 8.33333333vw 0 16.66666667vw;
            display: flex;
            align-items: center;
            @include respond-until(sm) {
                padding: 0;
                height: 100vh;
                width: 100%;
                flex-direction: column;
            }
            .carousel-left-content {
                width: calc(25.33333333vw + 33px);
                z-index: 1;
                position: relative;
                overflow: hidden;
                transition-property: all;
                transition-duration: 0.5s;
                transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
                @include respond-until(xlg) {
                   width: calc(25vw + 33px);
                  }

                @include respond-until(sm) {
                    width: 100%;
                    height: 100%;
                }
                
                &:after {
                    content: '';
                    display: block;
                    padding-bottom: 135.93%;
                    @include respond-until(sm) {
                        padding-bottom: 0;
                    }
                }
                .carousel-img-clip {
                    background-color: #fff;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition-property: all;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0,.61,.57,.99);
                    @include respond-until(sm) {
                        position: unset;
                    }
                    .img-container  {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: cover;
                    }
                }
            }

            .carousel-right-content {
                width: calc(33.33333333vw + 183px);
                color: #000;
                position: relative;
                padding-left: 5.8em;
                white-space: nowrap;
                transition-property: all;
                transition-duration: 0.5s;
                transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
                margin-top: -10%;
                @include respond-until(sm) {
                    margin-top: 0;
                    width: 100%;
                    padding: 1em 1.3em 2em;
                }
                .project-content{
                    opacity: 0;
                    transition-property: all;
                    transition-duration: 1s;
                    transition-timing-function: cubic-bezier(0,.96,.38,.16);
                    @include respond-until(sm) {
                        opacity: 1;
                    }
                }
                .project-title {
                    position: absolute;
                    font-size: 4.2em;
                    font-weight: bold;
                    color: #000000;
                    font-family: 'Nexa-bold';
                    line-height: 1.2;
                    transition-property: all;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0,.61,.57,.99);
                    opacity: 0;
                    //transform: translate3d(0, -50%, 0);
                    @include respond-until(sm) {
                        position: unset;
                        opacity: 1;
                        font-size: 2em;
                    }
                }
                .project-type {
                    font-size: 1.3vw;
                    position: absolute;
                    font-family: 'Nexa-Light';
                    font-weight: normal;
                    transition-property: all;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0,.61,.57,.99);
                    //transform: translate3d(0, -45%, 0);
                    opacity: 0;
                    @include respond-until(sm) {
                        position: unset;
                        opacity: 1;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
