#home-carousel-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
.box {
    height: 300px;
    width: 300px;
}
.in-slide {
    background-color: coral;
}
.in-slide-1 {
    background-color: cyan;
}
.in-slide-2 {
    background-color: bisque;
}
.in-slide-3 {
    background-color: cornflowerblue;
}
