.page-footer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &.black {
        background: #000;
        color: #fff;
        .icon-box {
            svg {fill: #fff; }
        }
        .title { 
            color: #fff;
        }
    }

    


    // .page-footer-wrapper { 
    //     height: inherit;
    //     width: 100%;

    //     .page-footer-content { 
    //         width: 100%;
    //         text-align: center;

    //         .title {
    //             font-family:'Nexa-bold';
    //             font-size: 6.2em;
    //             text-transform: lowercase;
    //             font-weight: 600;
    //             margin: 0;
    //             display: block;
    //             text-decoration: none;
    //             position: relative;
    //             color: #e91c23;
    //             line-height: 1.04;
    //             &.color1 {
    //                 color: #f4db09;
    //             }
    //             &.color2{
    //                 color: #00b3da;
    //             }
    //             &.color3 {
    //                 color: #e82e81;
    //             }
    //             &.color4 {
    //                 color: #5e2b87;
    //             }
    //             &.color5 {
    //                 color: #4545f5;
    //             }
    //             &.color6{
    //                 color: #e91c23;
    //             }
    //             // .hover-text {
    //             //     position: absolute;
    //             //     bottom: 0;
    //             //     left: 0;
    //             //     transition: width .4s ease-in-out;
    //             //     color: gray;
    //             //     width: 0;
    //             // }
    //             // &:hover {
    //             //     width: 100%;
    //             // }
    //             &:hover{
    //                 &:before {
    //                     width: 100.01%;
    //                     color: #fff;
    //                 }
    //             }
    //             &.invert {
    //                &:hover {
    //                 &:before {
    //                     color: #000;
    //                 }
    //                }
    //             }
                
    //             &:before {
    //                 content: attr(data-text);
    //                 position: absolute;
    //                 left: 0;
    //                 width: 0;
    //                 transition: width 1s;
    //                 overflow: hidden;
    //                 white-space: nowrap;
    //             }
    //         }

    //         .subtitle {
    //             font-size: 13px;
    //             font-family: 'Work Sans', sans-serif;
    //             font-weight: 400;
    //             line-height: 4;
    //         }
    //     }
    // }
 }

//  .menu-open {
//     .page-footer {
//         .common-footer {
//             .footer-social-icons {
//                 position: fixed;
//                 z-index: 5000;
//                 right: 30px;
//                 bottom: 30px;
//             }
//         }
//     }
//  }