@import './mixins';

.work-details-page {
	.page-header {
		// background: #064c06;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}
	.page-footer-wrapper {
		.page-footer-content {
			.title {
				text-transform: capitalize;
				&::before {
					text-transform: capitalize;
				}
			}
		}
	}

	.work-content {
		flex-direction: column;
	}
	.work-title {
	  font-family: $font-nexa-bdrg;
	  font-size: 6.5em;
	  font-weight: bold;
	  line-height: 1.23;
	  margin-bottom: 160px;
	  margin-top: 170px;
	  @include respond-until(sm) {
		  font-size: 2.3em;
		  margin-top: 50px;
		  margin-bottom: 50px;
		  padding: 0 12px;
	  }
	}

	.work-description {
		padding-bottom: 150px;
		.project-initial {
			font-size: 1.05em;
			font-family: $font-work-sans;
			font-weight: 300;
			color: #000;
			li{
				list-style: none;
				margin-bottom: 30px;
				label {
					display: block;
					color: #908f8f;
				}
				span {
					display: block;
				}
			}
			@include respond-until(sm) {
				padding: 0 12px;
			}
		}

		.project-summary {
			font-size: 1.07em;
		    font-family: $font-work-sans;
			font-weight: 300;
			
		    p{
		    	margin-bottom: 40px;
		    }
		    .launch-project {
		    	font-weight: 400;
		    	position: relative;
		    	margin-top: 40px;
		    	color: #000;
		    	text-decoration: none;
		    	line-height: 1.9;
    			display: inline-block;
		    	&:after {
		    		content: '';
		    		position: absolute;
		    		left: 0;
		    		bottom: 0;
		    		width: 20px;
		    		height: 1px;
		    		background: #000;
		    	}
		    }
		}
	}

	.project-image-container {
		margin-bottom: 100px; 
		@include respond-until(sm) {
			margin-bottom: 50px;
		}
	}

	.project-content {
		margin-bottom: 100px;
		@include respond-until(sm) {
			margin-bottom: 20px;
		}
		h2{
			font-size: 4.5em;
			font-family: $font-nexa-bdrg;
			color: #000;
			line-height: 1.3;
			margin-bottom: 40px;
			@include respond-until(sm) {
				font-size: 2em;
			}
		}
		p{
			font-size: 1.55em;
		    font-family: $font-work-sans;
		    font-weight: 300;
		    color: #5e5e5e;
		}
	}
}


.next-project, .prev-project {
	transform: rotate(-90deg);
    display: block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #000;
    position: absolute;
    bottom: 15%;
	right: 0;
	width: 150px;
	@include respond-until(sm) {
		width: 55px;
	}
	a {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
}

.prev-project {
	left: 0;
	right: auto;
}

.full-page-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.align-center-mar {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
	width: 100%;
}

.video-wrapper {
    .iframe-wrapper {
      width: 100%;
      min-height: 36vw;  
    } 
  }