@import '../../styles/mixins';

.work-page {
  position: relative;
  z-index: 2;

  	.portfolio-list {
		margin: 200px 0 0;
		position: relative;
		@include respond-until(sm) {
			margin-top: 100px;
		}
	}

	.work-list {
		margin: 100px 0 0;
		position: relative;
	}
	// #odd3 {
	// 	margin-bottom: 8vw;
	// }

	.work-wrapper {
		text-decoration: none;
		color: #000;
		// transition: all 1s ease-in-out;
		transition-property: all;
             transition-duration: .5s;
             transition-timing-function: cubic-bezier(0,.61,.57,.99);
		&.even {
			// margin-top: 250px;
		}
		.work-image {
			height: 67vh;
			margin-bottom: 28px;
			width: 100%;
			overflow: hidden;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			 clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
			 transition-property: clip-path;
             transition-duration: 1s;
             transition-timing-function: cubic-bezier(0,.61,.57,.99);
			img {
				transition-property: transform;
				transition-duration: 1s;
				transition-timing-function: cubic-bezier(0,.61,.57,.99);
				max-width: 100%;
				height: 100%;
				transform: scale(1.06)
			}
			@include respond-until(sm) {
				height: 75vh;
				clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
				text-align: center;
				margin-bottom: 0;
			}
		}
		&:hover {
			img {
				transform: scale(0.95)
			}
		}
		.work-details {
			width: 100%;
			opacity: 0;
			@include respond-until(sm) {
				opacity: 1;
				padding: 1em 1em 1.8em;
			}
			.title {
				font-family: $font-nexa-bdrg;
				font-size: 2.2em;
				@include respond-until(sm) {
					font-size: 1.8em;
				}
			}
			.sub-title {
				font-weight: 400;
				font-size: 15px;
				line-height: 1.68;
				letter-spacing: -0.05em;
				font-family: $font-work-sans;
				
			}
		}
	}

	// .work-wrap {
	// 	display: block;
	//     width: 25vw;
	//     margin-bottom: 300px;
	//     position: absolute;

	//      &:nth-child(2), &:nth-child(1) {
	//     	top: 0!important;
	//     }

	//      // &:nth-child(1) {
	//      // 	margin-top: 180px;
	//      // }
	//     &.odd {
	// 	    right: 0;
	// 	    left: auto;
	// 	}
	// }

	.work-wrapper-2 {
		margin-bottom: 14.60vw;
		width: 100%;
		position: relative;
		min-height: 100vh;
		@include respond-until(sm) { 
			flex-direction: column;
			margin-bottom: 0;
		}
		&._wrap-odd {
			.work-wrapper:first-child{
				left: 10em;
			}
			.work-wrapper:last-child {
				right: -2em;
				//top: 150px;
			}
		}
		&._wrap-even {

			.work-wrapper:first-child {
				//top: 144px;
			}

			.work-wrapper:nth-child(2) {
				right: 0;
			}
		}

		.work-wrapper {
			display: block;
		    width: 25vw;
		    position: absolute;
			// top: 100vh;
			@include respond-until(sm) { 
				width: 100vw;
				position: unset;
			}
		}
	}
	
}
