@import '../../styles/mixins';
.carouse-pagination-wrapper {
    position: fixed;
    height: 230px;
    top: 50%;
    right: 4.16666667vw;
    margin-top: -115px;
    z-index: 5;
    width: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    @include respond-until(sm) { 
        display: none;
    }
    &.deactive {
        opacity: 0;
    }
    &.active {
        opacity: 1;
    }
    .slide-count {
        width: 100%;
        height: 20px;
        margin: 10px 0;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 0.7em;
        letter-spacing: -0.08em;
    }
    .carousel-bar {
        width: 1px;
        background-color: #ccc;
        height: 83%;
        position: relative;
        margin: 0 auto;
        .carousel-bar-tracker {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #000;
            transition-property: all;
            transition-duration: 0.7s;
            transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    }
}